Source: cinnamon-menus
Section: x11
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Homepage: https://github.com/linuxmint/cinnamon-menus
Build-Depends: debhelper-compat (= 13),
               dh-sequence-gir,
               gir1.2-gio-2.0-dev,
               gobject-introspection (>= 1.80),
               gtk-doc-tools (>= 1.4),
               libglib2.0-dev (>= 2.30.0),
               meson
Standards-Version: 4.7.0

Package: libcinnamon-menu-3-0
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Cinnamon implementation of the freedesktop menu specification
 The package contains an implementation of the draft
 "Desktop Menu Specification" from freedesktop.org:
 .
 http://www.freedesktop.org/Standards/menu-spec
 .
 This package contains the shared library.

Package: libcinnamon-menu-3-0-dbg
Section: debug
Architecture: any
Depends: libcinnamon-menu-3-0 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for the Cinnamon menu library
 The package contains an implementation of the draft
 "Desktop Menu Specification" from freedesktop.org:
 .
 http://www.freedesktop.org/Standards/menu-spec
 .
 This package contains debugging symbols.

Package: libcinnamon-menu-3-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: libcinnamon-menu-3-0 (= ${binary:Version}),
         libglib2.0-dev (>= 2.30.0),
         ${gir:Depends},
         ${misc:Depends}
Provides: ${gir:Provides}
Description: Development files for the Cinnamon menu library
 The package contains an implementation of the draft
 "Desktop Menu Specification" from freedesktop.org:
 .
 http://www.freedesktop.org/Standards/menu-spec
 .
 This package contains the development headers.

Package: gir1.2-cmenu-3.0
Section: introspection
Architecture: any
Multi-Arch: same
Depends: libcinnamon-menu-3-0 (= ${binary:Version}),
         ${gir:Depends},
         ${misc:Depends}
Description: GObject introspection data for the Cinnamon menu library
 This package contains introspection data for Cinnamon menu, an
 implementation of the desktop menu specification from freedesktop.org.
 .
 It can be used by languages supporting dynamic bindings with
 the GIRepository format.
