#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DPKG_GENSYMBOLS_CHECK_LEVEL = 2

%:
	dh $@

override_dh_strip:
	dh_strip --dbg-package=libcinnamon-menu-3-0-dbg

override_dh_auto_configure:
	dh_auto_configure -- \
		-D deprecated_warnings=false \
		-D enable_docs=true
