Package: libgnome-menu-3-dev
Source: gnome-menus
Version: 3.8.0-1ubuntu5
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 345
Depends: libgnome-menu-3-0 (= 3.8.0-1ubuntu5), gir1.2-gmenu-3.0 (= 3.8.0-1ubuntu5), libglib2.0-dev (>= 2.30.0)
Replaces: gir-repository-dev (<< 0.6.5-6)
Section: libdevel
Priority: optional
Description: GNOME implementation of the freedesktop menu specification
 The package contains an implementation of the draft
 "Desktop Menu Specification" from freedesktop.org:
 .
 http://www.freedesktop.org/Standards/menu-spec
 .
 Also contained here are the GNOME menu layout configuration files, .directory
 files and assorted menu related utility programs.
 .
 This package contains the development headers.
Original-Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
